/*STYLES FOLDER*/
html, body {
   padding: 0;
   margin: 0;
   background-color: black;
   overflow-x: hidden;
   font-family: share_tech;
}
body {
    background-color: black;
}

/*--------navigation bar ----------*/
.header1{
    display: inline-block;
    background-color: #bfbfbf;
    width: 100%;
    height: 6em;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    display: inline-block;
    padding: 20px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 29%;
}


.searchbox {
    position: absolute;
    height: 25px;
    left: 91.1%;
    bottom: 93.74%;
    border: 1px solid white;
    border-radius: 15px;
    background: #333;    
    margin-left: -11%;
}

.searchbutton {
    position: absolute;
    height: 22px;
    left: 89.1%;
    bottom: 93.74%;
    border: none;
    border-radius: 15px;
    background: #333;
    color: white;
}

/*-----------------INDEX.HTML-------------*/


.indexbody{
    background-image: url("diamond.png");
}





/*-------------VIDEO----------*/

.video {
    margin-left: 4%;
    margin-top: 2%;
}




/*-----------------------JUMBOTRON TEXT-------------*/

.jumbrotron {
text-align: -webkit-center;
    
}







/*---------FOOTER---------*/

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #bfbfbf;
    padding-left: 17%;
    padding-top: 2em;
    height:6em;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;    
}





/*---------------Inventory Carousel--------------*/

#myCarousel {
  height: auto;
  width: auto;
  overflow: hidden;
}


.carouselsection {
    margin-top: 5%;
    margin-bottom: 1%;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}

.inventorytext {
    color: white;
    text-align: center;
}


body {
  margin: 1em;
}
table.dataTable.no-footer {
  border-bottom: none;
}
.dataTables_wrapper .dataTables_filter {
  position: absolute;
  top:-3.3em;
  right:0;
}
.nesgc-inventory {
  border: 1px solid #ddd;
}
.nesgc-inventory thead th {
  background-color: #eee;
}
.nesgc-inventory thead th:hover {
  background-color: #337ab7;
  color: #fff;
}





/*-----------------ABOUT PAGE---------------*/

.aboutText {
    text-align: center
}



/*---------------CONTACT PAGE---------------*/

.well {
    margin-top: .5%;
}


